.action {
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    background-color: var(--light);
    margin-top: 10px;
}
.action__add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    padding: 10px 0;
    margin-left: 10px;
    border-radius: 4px;
}
.action__add {
    background-color: var(--green);
}
.action__delete {
    background-color: var(--danger);
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.action__delete:hover{
    background-color: red;
}
.action-icon {
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--white);
}

.account {
    margin-top: 10px;
    border: 1px solid var(--gray-dark);
    border-bottom: none;
}
.account__header {
    display: flex;
    background-color: var(--light);
    border-bottom: 1px solid var(--gray-dark);
}
.contact__header-column {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--gray-dark);
    text-align: center;
}
.contact__header-column:not(:last-child) {
    border-right: 1px solid var(--gray-dark);
}

.account__body-choose {
    width: 5%;
}
.account__body-name {
    width: 15%;
}
.account__body-mail {
    width: 21%;
}
.account__body-password {
    width: 15%;
}
.account__body-update {
    width: 10%;
}
.account__body-phone{
    width: 12%;
}
.account__body-address{
    width: 22%;
}
.contact__body-column{
    word-break: break-word;

}
/**** body *****/
.account__body {
    display: flex;
    border-bottom: 1px solid var(--gray-dark);
}
.account__body:nth-of-type(odd) {
    background-color: var(--white);
}
.account__body:nth-of-type(even) {
    background-color: var(--light);
}
.contact__body-column {
    padding: 10px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--gray-dark);
}
.contact__body-column:not(:last-child) {
    border-right: 1px solid var(--gray-dark);
}
.account__body-name ul{
    padding-left: 2px;
    list-style-type: none;
    text-align: left;
}

.contact__header-choose {
    width: 5%;
}
.account__header-name {
    width: 15%;
}

.account__header-mail {
    width: 21%;
}
.account__header-password {
    width: 15%;
}
.account__header-update {
    width: 10%;
}
.account__header-phone{
    width: 12%;
}
.account__header-address{
    width: 22%;
}
.check-delete {
    outline: none;
    cursor: pointer;
}
.account__body-icon {
    font-size: 1.4rem;
    color: var(--gray-dark);
    cursor: pointer;
}
.account__body-icon:hover {
    color: var(--orange);
}